<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
        <title>error</title>
    </head>
    <body>
        <div class="home">
            Error 404: page not found
        </div>
    </body>
</html>